<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683277835308-1n30l25lhgkj24i2fd65busohba8bejp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683277835308-1n30l25lhgkj24i2fd65busohba8bejp</string>
	<key>API_KEY</key>
	<string>AIzaSyAXRCyIu4bY_TuTQlhls8EHKfEPrE22xI4</string>
	<key>GCM_SENDER_ID</key>
	<string>683277835308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>np.com.samirk.kathford</string>
	<key>PROJECT_ID</key>
	<string>kathford-5e626</string>
	<key>STORAGE_BUCKET</key>
	<string>kathford-5e626.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683277835308:ios:a0ab7f9aa92911bc75c589</string>
</dict>
</plist>